<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <p>Name</p><%= f.text_field :name %>
  <p>image</p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  <p>introduction</p><%= f.text_area :introduction %>
  <p><%= f.submit "Update User" %></p>
<% end %>
<p>CopyRight Infratop.inc</p>
