<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>
  <body>
    <header>
      <p>Bookers</p>
      <%#　ログイン時　%>
      <% if user_signed_in? %>
        <li>
          <a href=/users/<%= current_user.id %>><i class='fas fa-home'></i>Home</a>
        </li>
        <li>
          <a href=/users><i class="fas fa-users"></i>Users</a>
        <li>
          <a href=/books ><i class="fas fa-book-open"></i>Books</a>
        </li>
        <li>
          <%= link_to "logout",destroy_user_session_path, method: :delete%>
          <%#　処理手順がわからない %>
        </li>
      <%#　ログアウト時　%>
      <% else %>
        <li>
           <a href=/><i class="fas fa-home"></i>Home</a>
        </li>
        <li>
          <a href=/home/about><i class="fas fa-link"></i>About</a>
        </li>
        <li>
          <a href=/users/sign_up><i class="fas fa-user-plus"></i>sign up</a>
        </li>
        <li>
          <a href=/users/sign_in><i class="fas fa-sign-out-alt"></i>login</a>
        </li>
      <% end %>
  　</header>

    <%= yield %>
    <footer>
  　 <p> CopyRight Infratop.inc</p>
  　</footer>
  </body>
</html>
