<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-auto" style="width: 400px;" href="/">Bookers</a>

        <%#　ログイン時　%>
        <% if user_signed_in? %>
          <ul type="none" class="list-inlin mx-auto " style="width: 400px;" >
            <li class="list-inline-item">
              <a href=/users/<%= current_user.id %>><i class='fas fa-home text-light'>Home</i></a>
            </li>
            <li  class="list-inline-item">
              <a href=/users><i class="fas fa-users text-light">Users</i></a>
            <li  class="list-inline-item">
              <a href=/books ><i class="fas fa-book-open text-light">Books</i></a>
            </li>
            <li  class="list-inline-item">
              <%= link_to "logout",destroy_user_session_path, method: :delete%>
            <%#　処理手順がわからない %>
            </li>
          </ul>
        <%#　ログアウト時　%>
        <% else %>
          <ul type="none" class="list-inlin mx-auto " style="width: 400px;" >
            <li  class="list-inline-item ">
               <a href=/><i class="fas fa-home text-light ">Home</i></a>
            </li>
            <li  class="list-inline-item">
              <a href=/home/about><i class="fas fa-link text-light">About</i></a>
            </li>
            <li  class="list-inline-item">
              <a href=/users/sign_up><i class="fas fa-user-plus text-light">sign up</i></a>
            </li>
            <li  class="list-inline-item">
              <a href=/users/sign_in><i class="fas fa-sign-in-alt text-light"></i> login</i></a>
            </li>
          </ul>
        <% end %>
      </nav>
  　</header>

    <%= yield %>
  </body>
</html>
