<%#　プロフィール編集　%>

<h2>User Info</h2>
<%= attachment_image_tag current_user, :profile_image,size: "60x60",fallback:"no_image.jpg"%>
<p>name<%= current_user.name %></p>
<p>introduction<%= current_user.introduction %></p>
<button><%= link_to "Edit",edit_user_path(current_user.id) %></button>

<%# 新規投稿 %>
  <div>
    <%= form_with model: @book, local:true do |f| %>
      <h2>New Book</h2>
      <h4>title</h4>
      <%= f.text_field :title %>
      <h4>opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
  </div>


<h2>Book detail</h2>
<%= current_user.name %>
<%= attachment_image_tag current_user, :profile_image,size: "60x60",fallback:"no_image.jpg"%>
<%= @book.title %>
<%= @book.body %>
<button><%= link_to "edit",edit_user_path(current_user.id) %></button>
<button><%= link_to "destroy" %></button>
