<html>
  <body>
    <%# 　プロフィール更新　バリデーションチェック　エラー　%>
    <% if @book.errors.any? %>
      <%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</p>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <%#　サクセスメッセージ(新規投稿時・投稿更新時)　%>
    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-1 w-100">
        </div>
        <div class="col-md-3 w-100">
          <%#　プロフィール画面 %>
          <h2>User Info</h2>
          <%= attachment_image_tag @book.user, :profile_image,size: "60x60",fallback:"no_image.jpg"%>
          <p class="w-75 border-top border-bottom">name<%= @book.user.name %></p>
          <p>introduction<%= @book.user.introduction %></p>
          <% if @book.user.id == current_user.id %>
            <button class="w-75 bg-light"><a href=/users/<%= current_user.id %>/edit><i class="fas fa-user-cog text-secondary"></i></a></button>
          <% end %>
          <%# 新規投稿 %>
          <%= form_with model: @new_book, local:true do |f| %>
            <h4>New Book</h4>
            <p>title</p>
            <%= f.text_field :title %>
            <p>opinion</p>
            <%= f.text_area :body %>
            <p><%= f.submit 'Create Book', class:"bg-success text-light"%></p>
          <% end %>
        </div>
        <div class="col-md-8">
          <%# 詳細画面 %>
          <h2>Book detail</h2>
            <div class="border-top">
              <%= attachment_image_tag @book.user, :profile_image,size: "60x60",fallback:"no_image.jpg"%>
              <%= link_to "#{@book.user.name}",user_path(@book.user) %>
              <%= link_to "#{@book.title}",book_path(@book.id) %>
              <%= @book.body %>
              <% if @book.user_id == current_user.id %>
              <button class="bg-success"><%= link_to "Edit",edit_book_path(@book),class:" text-white" %></button>
              <button class="bg-danger"><%= link_to "Destroy",book_path(@book),method: :delete,"data-confirm"=>"本当に消しますか",class:" text-white"%></button>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <p class= 'text-center pt-5'> CopyRight Infratop.inc</p>
  </body>
</html>
